.Fondo{
    background-image: url(../images/logo/light.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.FondoOscuro{
    background-image: url(../images/logo/dark.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    height: 100vh;
    margin: 0;
    padding: 0;
  }